.container{
    display:flex;
    flex-direction: column;
    height: calc(100vh - 96px);
    background: #000000;
    color: #ffffff;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.profile{
    width:50%;
    min-width:288px;
}
.profile__description{
    line-height:24px;
    text-align: center;
}
.profile__name{
    color: red;
}
.profile__role{
    margin-bottom: 100px;
}
.profile__resume{
    text-decoration:none;
    border:1px solid red;
    padding: 8px 16px;
    color: #ffffff;
    cursor:pointer;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}
.profile__resume:hover{
    color:white;
    background-color: red;
}
.img__container{
    width: 100%;
}
.img__content{
    width: 100%;
}
.social_media{
    min-width: 288px;
    width:30%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.social_media img{
    height: 40px;
}

.profile__hireme{
    display: block;
    cursor:pointer;
    text-decoration: 1px solid red;
    color: red;
    width: fit-content;
    margin: 32px auto;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
    font-size: 20px;
    border-bottom: 2px solid red;
}

.profile__hireme:hover{
    color: white;
}

@media only screen and (max-width:768px){
    .profile{
        width:100%;
        min-width:288px;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .img__container{
        display: none;
    } 
    .profile__description{
        width:100%;
    }

}