.nav-container{
  line-height: 70px;
  position: sticky;
  display: flex;
  width: 80%;
  margin: auto;
  background: black;
  color:white;
  top: 0;
  left: 0;
  font-size: 16px;
}
.navbar{
  justify-content:space-evenly;
  display:flex;
  margin-left: 32px;
  padding:8px 0px;
  width: 100%;
}
.navbar-logo{
  height: 24px;
  margin: auto;
  padding-top: 6px;
}
.navbar-logo-mob{
  position: absolute;
  padding: 16px 32px;
  height: 40px;
}
.link{
  font-size: 16px;
  text-decoration: none;
  font-family: fontMediumRegular;
}
.link:visited{
  color: white;
}
.link:hover{
  color:rgb(255, 0, 0);
}

.toggle__button{
  display: none;
  color: white;
  font-size: 32px;
  float: right;
  z-index: 1;
}
.nav-small{
  display: none;
  height: 94px;
  line-height: 70px;
  position: sticky;
  background: black;
  color:white;
  top: 0;
  left: 0;
  transition: all 2s ease-in;
}
.navbar-small{
  height: 100vh;
  display: none;
  color: white;
  background: black;
  text-align: center;
  padding:24px 0px;
  width: 100%;
}
.link-small{
  display: block;
  font-size: 16px;
  text-decoration: none;
  font-family: fontMediumRegular;
}
.link-small:visited{
  color: white;
}
.link-small:hover{
  color:rgb(255, 0, 0);
}
@media only screen and (max-width:425px){
  .nav-container{
    display: none;
  }
  .nav-small{
    display: block;
  }
  .toggle__button{
    display: block;
    position: absolute;
    left: 80%;
  }
}
