.nav-container{
  height: 94px;
  line-height: 70px;
  position: sticky;
  background: white;
  color:black;
  top: 0;
  left: 0;
}
.navbar{
  justify-content:space-evenly;
  display:flex;
  padding:24px 0px;
  width: 100%;
}
.link{
  font-size: 16px;
  text-decoration: none;
  font-family: fontMediumRegular;
}
.link:visited{
  color: black;
}
.link:hover{
  color:rgb(88, 85, 82);
}
